@font-face {
    font-family: 'Skyrim';
    src: URL('../fonts/Planewalker.otf') format('opentype');
  }


*{
    margin: 0;
    padding: 0;
}



.Windhelm{

    position: absolute;
    border: 1px;
    background-color: rgba(83, 9, 220, 0.658);
    width: 1.3vw;
    height: 2vh;
    border-radius: 100%;
    z-index:2;
    left: 77.5vw;
    top: 39vh;
    font-family: Skyrim;
    font-size: 0vw;
    color: white;
    text-align: center;
    transition: all 0.5s ease;
}

.Windhelm:hover{

    width: 13vw;
    height: 10vh;
    border-radius: 5%;
    background-color: rgba(128, 128, 128, 0.473);
    font-family: Skyrim;
    font-size: 1.4vw;
    color: white;
}

.Windhelm-content{
    display:none;
}

.Windhelm:hover .Windhelm-content{
    display:block;
   
}
.Whiterun{
    font-family: Skyrim;
    font-size: 0vw;
    color: white;
    text-align: center;
    position: absolute;
    border: 1px;
    background-color: rgba(221, 255, 0, 0.658);
    width: 1.3vw;
    height: 2vh;
    border-radius: 100%;
    z-index:2;
    left: 53.7vw;
    top: 50vh;
    transition: all 0.5s ease;
}

.Whiterun:hover{

    width: 13vw;
    height: 10vh;
    border-radius: 5%;
    background-color: rgba(128, 128, 128, 0.473);
    font-family: Skyrim;
    font-size: 1.4vw;
    color: white;
}

.Whiterun-content{
    display:none;
}

.Whiterun:hover .Whiterun-content{
    display:block;
   
}
.Dawnstar{
    font-family: Skyrim;
    font-size: 0vw;
    color: white;
    text-align: center;
    position: absolute;
    border: 1px;
    background-color: rgba(255, 255, 255, 0.658);
    width: 1.3vw;
    height: 2vh;
    border-radius: 100%;
    z-index:2;
    left: 55.58vw;
    top: 19.7vh;
    transition: all 0.5s ease;
}

.Dawnstar:hover{

    width: 13vw;
    height: 10vh;
    border-radius: 5%;
    background-color: rgba(128, 128, 128, 0.473);
    font-family: Skyrim;
    font-size: 1.4vw;
    color: white;
}

.Dawnstar-content{
    display:none;
}

.Dawnstar:hover .Dawnstar-content{
    display:block;
   
}
.Solitude{
    font-family: Skyrim;
    font-size: 0vw;
    color: white;
    text-align: center;
    position: absolute;
    border: 1px;
    background-color: rgba(255, 0, 0, 0.658);
    width: 1.3vw;
    height: 2vh;
    border-radius: 100%;
    z-index:2;
    left: 33.25vw;
    top: 19vh;
    transition: all 0.5s ease;
}

.Solitude:hover{

    width: 13vw;
    height: 10vh;
    border-radius: 5%;
    background-color: rgba(128, 128, 128, 0.473);
    font-family: Skyrim;
    font-size: 1.4vw;
    color: white;
}

.Solitude-content{
    display:none;
}

.Solitude:hover .Solitude-content{
    display:block;
   
}
.Winterhold{
    font-family: Skyrim;
    font-size: 0vw;
    color: white;
    text-align: center;
    position: absolute;
    border: 1px;
    background-color: rgba(0, 255, 217, 0.658);
    width: 1.3vw;
    height: 2vh;
    border-radius: 100%;
    z-index:2;
    left: 72.46vw;
    top: 20.8vh;
    transition: all 0.5s ease;
}

.Winterhold:hover{

    width: 13vw;
    height: 10vh;
    border-radius: 5%;
    background-color: rgba(128, 128, 128, 0.473);
    font-family: Skyrim;
    font-size: 1.4vw;
    color: white;
}

.Winterhold-content{
    display:none;
}

.Winterhold:hover .Winterhold-content{
    display:block;
   
}
.Morthal{
    font-family: Skyrim;
    font-size: 0vw;
    color: white;
    text-align: center;
    position: absolute;
    border: 1px;
    background-color: rgba(52, 85, 37, 0.658);
    width: 1.3vw;
    height: 2vh;
    border-radius: 100%;
    z-index:2;
    left: 40.12vw;
    top: 31.6vh;
    transition: all 0.5s ease;
}

.Morthal:hover{

    width: 13vw;
    height: 10vh;
    border-radius: 5%;
    background-color: rgba(128, 128, 128, 0.473);
    font-family: Skyrim;
    font-size: 1.4vw;
    color: white;
}

.Morthal-content{
    display:none;
}

.Morthal:hover .Morthal-content{
    display:block;
   
}
.Riften{
    font-family: Skyrim;
    font-size: 0vw;
    color: white;
    text-align: center;
    position: absolute;
    border: 1px;
    background-color: rgba(239, 13, 205, 0.658);
    width: 1.3vw;
    height: 2vh;
    border-radius: 100%;
    z-index:2;
    left: 87.8vw;
    top: 78vh;
    transition: all 0.5s ease;
}

.Riften:hover{

    width: 13vw;
    height: 10vh;
    border-radius: 5%;
    background-color: rgba(128, 128, 128, 0.473);
    font-family: Skyrim;
    font-size: 1.4vw;
    color: white;
}

.Riften-content{
    display:none;
}

.Riften:hover .Riften-content{
    display:block;
   
}
.Markarth{
    font-family: Skyrim;
    font-size: 0vw;
    color: white;
    text-align: center;
    position: absolute;
    border: 1px;
    background-color: rgba(41, 95, 16, 0.658);
    width: 1.3vw;
    height: 2vh;
    border-radius: 100%;
    z-index:2;
    left: 10vw;
    top: 49vh;
    transition: all 0.5s ease;
}

.Markarth:hover{

    width: 13vw;
    height: 10vh;
    border-radius: 5%;
    background-color: rgba(128, 128, 128, 0.473);
    font-family: Skyrim;
    font-size: 1.4vw;
    color: white;
}

.Markarth-content{
    display:none;
}

.Markarth:hover .Markarth-content{
    display:block;
   
}
.Falkreath{
    font-family: Skyrim;
    font-size: 0vw;
    color: white;
    text-align: center;
    position: absolute;
    border: 1px;
    background-color: rgba(87, 17, 81, 0.658);
    width: 1.3vw;
    height: 2vh;
    border-radius: 100%;
    z-index:2;
    left: 41.7vw;
    top: 76vh;
    transition: all 0.5s ease;
}

.Falkreath:hover{

    width: 13vw;
    height: 10vh;
    border-radius: 5%;
    background-color: rgba(128, 128, 128, 0.473);
    font-family: Skyrim;
    font-size: 1.4vw;
    color: white;
}

.Falkreath-content{
    display:none;
}

.Falkreath:hover .Falkreath-content{
    display:block;
   
}

.mapa{
    position: absolute;
    width: 100vw;
    height: 100vh;
}