.containerBestiario{
    margin: 0;
    padding: 0;
    top: 0;
    position: relative;
}

.ImgOnPage {
    position: absolute;
    right: 1%;
    margin-top: 10%;
}

.descricao {
    font-family: Skyrim;
    position: absolute;
    left: 20%;
    margin-top: 16%;
    width: 40%;
    font-size: 1.4vw;
}

.combate {
    font-family: Skyrim;
    position: absolute;
    left: 20%;
    margin-top: 26%;
    width: 40%;
    font-size: 1.4vw;
}

.nome {
    font-family: Skyrim;
    position: absolute;
    left: 20%;
    margin-top: 10%;
    width: 45%;
    font-size: 3.5vw;
}

.barraPesquisa {
    margin: 20px;
}

.criaturaContainer{
    margin-top: -80px;
}