.containerBestiario {
    margin: 0;
    padding: 0;
    top: 0;
    position: relative;
}

.ImgOnPage {
    position: absolute;
    right: 1%;
    margin-top: 10%;
}

.containerDescricao {
    position: absolute;
    top: 100px;
    width: 50vw;
}

.descricao1 {
    font-family: Skyrim;
    font-size: 1.4vw;
    margin-left: 30px;
    margin-top: 30px;
}

.descricao2 {
    font-family: Skyrim;
    margin-top: 30px;
    margin-left: 30px;
    font-size: 1.4vw;
}

.nome {
    font-family: Skyrim;
    font-size: 3.5vw;
    display: flex;
    justify-content: center;
}

.barraPesquisa {
    margin: 20px;
    display: flex;
}

.criaturaContainer {
    margin-top: -80px;
}

.containerBestiario {
    margin-top: 50px;
    height: 80vh;
    overflow-y: scroll;
}

.botaoBestiario {
    margin-left: 15px;
    font-family: Skyrim;
    color: white;
    background-color: black;
    border: 2px solid white;
    padding: 8px;
    font-size: 13pt;
    font-weight: bolder;
    cursor: pointer;
}

.listaGrupos {
    margin-left: 30px;
}

.listaGrupos li {
    list-style: none;
    margin: 15px 0;
    font-size: 1.5vw;
    font-family: Skyrim;
}

.listaCriaturas {
    margin-left: 30px;
}

.listaCriaturas li {
    list-style: circle;
    margin: 7px 0;
    font-size: 2vw;
    font-family: Skyrim;
}

.logo {
    position: absolute;
    right: 5vw;
    top: 15vh;
    width: 60vw;
}