@font-face {
    font-family: 'Skyrim';
    src: URL('../../fonts/Planewalker.otf') format('opentype');
}


* {
    margin: 0;
    padding: 0;
}



.logoWhiterun {
    position: absolute;
    background-image: url("../../images/whiterunlogo.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 110%;
    height: 110%;
    left: 0;
    transition: all 0.5s ease;
    cursor: pointer;
}

.logoWhiterun:hover {
    width: 120%;
    height: 120%;
    left: 0vw;

}

.logoWhiterun:hover .Whiterun-content {
    margin-left: 29%;
    width: 10vw;
    height: 5vh;
    border-radius: 10%;
    background-color: #fff;
    text-align: center;
    font-size: 2vh;
    z-index: -1;
    visibility: visible;
}

.paiWhiterun {
    position: absolute;
    width: 12vw;
    height: 10vh;
    top: 47vh;
    left: 52vw;
}

.logoWindhelm {
    position: absolute;
    background-image: url("../../images/windhelm.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    left: 0;
    transition: all 0.5s ease;
    cursor: pointer;
}

.logoWindhelm:hover {
    width: 110%;
    height: 110%;
    left: 0vw;

}

.logoWindhelm:hover .Windhelm-content {
    margin-left: 29%;
    width: 10vw;
    height: 5vh;
    border-radius: 10%;
    background-color: #fff;
    text-align: center;
    font-size: 2vh;
    z-index: -1;
    visibility: visible;
}

.paiWindhelm {
    position: absolute;
    width: 12vw;
    height: 10vh;
    left: 75.9vw;
    top: 35vh;
}

.logoSolitude {
    position: absolute;
    background-image: url("../../images/solitude.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    left: 0;
    transition: all 0.5s ease;
    cursor: pointer;
}

.logoSolitude:hover {
    width: 110%;
    height: 110%;
    left: 0vw;

}

.logoSolitude:hover .Solitude-content {
    margin-left: 29%;
    width: 10vw;
    height: 5vh;
    border-radius: 10%;
    background-color: #fff;
    text-align: center;
    font-size: 2vh;
    z-index: -1;
    visibility: visible;
}

.paiSolitude {
    position: absolute;
    width: 12vw;
    height: 10vh;
    left: 32vw;
    top: 15.3vh;
}

.logoDawnstar {
    position: absolute;
    background-image: url("../../images/dawnstar.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 110%;
    height: 110%;
    left: 0;
    transition: all 0.5s ease;
    cursor: pointer;
}

.logoDawnstar:hover {
    width: 120%;
    height: 120%;
    left: 0vw;

}

.logoDawnstar:hover .Dawnstar-content {
    margin-left: 29%;
    width: 10vw;
    height: 5vh;
    border-radius: 10%;
    background-color: #fff;
    text-align: center;
    font-size: 2vh;
    z-index: -1;
    visibility: visible;
}

.paiDawnstar {
    position: absolute;
    width: 12vw;
    height: 10vh;
    left: 53.8vw;
    top: 17vh;
}

.logoWinterhold {
    position: absolute;
    background-image: url("../../images/winterhold.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 90%;
    height: 90%;

    left: 0;
    transition: all 0.5s ease;
    cursor: pointer;
}

.logoWinterhold:hover {
    width: 100%;
    height: 100%;
    left: 0vw;

}

.logoWinterhold:hover .Winterhold-content {
    margin-left: 29%;
    width: 10vw;
    height: 5vh;
    border-radius: 10%;
    background-color: #fff;
    text-align: center;
    font-size: 2vh;
    z-index: -1;
    visibility: visible;
}

.paiWinterhold {
    position: absolute;
    width: 12vw;
    height: 10vh;
    left: 70.8vw;
    top: 18vh;
}

.logoMorthal {
    position: absolute;
    background-image: url("../../images/morthal.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;

    left: 0;
    transition: all 0.5s ease;
    cursor: pointer;
}

.logoMorthal:hover {
    width: 110%;
    height: 110%;
    left: 0vw;

}

.logoMorthal:hover .Morthal-content {
    margin-left: 29%;
    width: 10vw;
    height: 5vh;
    border-radius: 10%;
    background-color: #fff;
    text-align: center;
    font-size: 2vh;
    z-index: -1;
    visibility: visible;
}

.paiMorthal {
    position: absolute;
    width: 10vw;
    height: 8vh;
    left: 38.5vw;
    top: 29.2vh;
}

.logoRiften {
    position: absolute;
    background-image: url("../../images/riften.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;

    left: 0;
    transition: all 0.5s ease;
    cursor: pointer;
}

.logoRiften:hover {
    width: 110%;
    height: 110%;
    left: 0vw;

}

.logoRiften:hover .Riften-content {
    margin-left: 29%;
    width: 10vw;
    height: 5vh;
    border-radius: 10%;
    background-color: #fff;
    text-align: center;
    font-size: 2vh;
    z-index: -1;
    visibility: visible;
}

.paiRiften {
    position: absolute;
    width: 12vw;
    height: 10vh;
    left: 86.1vw;
    top: 75vh;
}

.logoMarkarth {
    position: absolute;
    background-image: url("../../images/markarth.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;

    left: 0;
    transition: all 0.5s ease;
    cursor: pointer;
}

.logoMarkarth:hover {
    width: 110%;
    height: 110%;
    left: 0vw;

}

.logoMarkarth:hover .Markarth-content {
    margin-left: 29%;
    width: 10vw;
    height: 5vh;
    border-radius: 10%;
    background-color: #fff;
    text-align: center;
    font-size: 2vh;
    z-index: -1;
    visibility: visible;
}

.paiMarkarth {
    position: absolute;
    width: 12vw;
    height: 10vh;
    left: 8vw;
    top: 45vh;
}

.logoFalkreath {
    position: absolute;
    background-image: url("../../images/falkreath.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;

    left: 0;
    transition: all 0.5s ease;
    cursor: pointer;
}

.logoFalkreath:hover {
    width: 110%;
    height: 110%;
    left: 0vw;

}

.logoFalkreath:hover .Falkreath-content {
    margin-left: 29%;
    width: 10vw;
    height: 5vh;
    border-radius: 10%;
    background-color: #fff;
    text-align: center;
    font-size: 2vh;
    z-index: -1;
    visibility: visible;
}

.paiFalkreath {
    position: absolute;
    width: 12vw;
    height: 10vh;
    left: 40vw;
    top: 73vh;
}

.Whiterun-content {

    font-size: 0px;
    font-family: 'Skyrim';
    position: relative;
    z-index: -1;
    margin-top: 3vh;
    margin-left: 2.2vw;
    width: 0vw;
    height: 5vh;
    border-radius: 10%;
    background-color: #fff;
    transition: all 0.5s ease;
    visibility: visible;
}

.Solitude-content {

    font-size: 0px;
    font-family: 'Skyrim';
    position: relative;
    z-index: -1;
    margin-top: 3vh;
    margin-left: 2.2vw;
    width: 0vw;
    height: 5vh;
    border-radius: 10%;
    background-color: #fff;
    transition: all 0.5s ease;
    visibility: visible;
}

.Dawnstar-content {

    font-size: 0px;
    font-family: 'Skyrim';
    position: relative;
    z-index: -1;
    margin-top: 3vh;
    margin-left: 2.2vw;
    width: 0vw;
    height: 5vh;
    border-radius: 10%;
    background-color: #fff;
    transition: all 0.5s ease;
    visibility: visible;
}

.Winterhold-content {

    font-size: 0px;
    font-family: 'Skyrim';
    position: relative;
    z-index: -1;
    margin-top: 3vh;
    margin-left: 2.2vw;
    width: 0vw;
    height: 5vh;
    border-radius: 10%;
    background-color: #fff;
    transition: all 0.5s ease;
    visibility: visible;
}

.Windhelm-content {

    font-size: 0px;
    font-family: 'Skyrim';
    position: relative;
    z-index: -1;
    margin-top: 3vh;
    margin-left: 2.2vw;
    width: 0vw;
    height: 5vh;
    border-radius: 10%;
    background-color: #fff;
    transition: all 0.5s ease;
    visibility: visible;
}

.Morthal-content {

    font-size: 0px;
    font-family: 'Skyrim';
    position: relative;
    z-index: -1;
    margin-top: 3vh;
    margin-left: 2.2vw;
    width: 0vw;
    height: 5vh;
    border-radius: 10%;
    background-color: #fff;
    transition: all 0.5s ease;
    visibility: visible;
}

.Markarh-content {

    font-size: 0px;
    font-family: 'Skyrim';
    position: relative;
    z-index: -1;
    margin-top: 3vh;
    margin-left: 2.2vw;
    width: 0vw;
    height: 5vh;
    border-radius: 10%;
    background-color: #fff;
    transition: all 0.5s ease;
    visibility: visible;
}

.Falkreath-content {

    font-size: 0px;
    font-family: 'Skyrim';
    position: relative;
    z-index: -1;
    margin-top: 3vh;
    margin-left: 2.2vw;
    width: 0vw;
    height: 5vh;
    border-radius: 10%;
    background-color: #fff;
    transition: all 0.5s ease;
    visibility: visible;
}

.Riften-content {

    font-size: 0px;
    font-family: 'Skyrim';
    position: relative;
    z-index: -1;
    margin-top: 3vh;
    margin-left: 2.2vw;
    width: 0vw;
    height: 5vh;
    border-radius: 10%;
    background-color: #fff;
    transition: all 0.5s ease;
    visibility: visible;
}

.Markarth-content {

    font-size: 0px;
    font-family: 'Skyrim';
    position: relative;
    z-index: -1;
    margin-top: 3vh;
    margin-left: 2.2vw;
    width: 0vw;
    height: 5vh;
    border-radius: 10%;
    background-color: #fff;
    transition: all 0.5s ease;
    visibility: visible;
}

.mapa {
    box-shadow: inset 10px 10px 10px black;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex: 1 0 auto;
    position: relative;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
}

.Title {

    font-family: 'Skyrim';
    font-size: 50pt;
    text-align: center ;
}

.Title2{
    display: flex;
    justify-content: center;
    width: 20%;
    border-radius: 10%;
    box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.2);
    height: 10%;
    margin-top: 2.5%;
    align-items: center;
    font-family: 'Skyrim';
    font-size: 20pt;
    text-align: center ;
    background-image: url("../../images/oldpaper.png");
    transition: all 0.5s ease;
}

.box{
    top: 5vh;
    position: absolute;
    align-items: center;
    width: 100vw;
    text-align: center;
}
.Title3{
    top: 5vh;
    font-family: 'Skyrim';
    font-size: 5vh;
    color: white;
    text-shadow: #000000;
}


.Title2:hover{
    box-shadow: 0 4px 10px 10px rgba(0, 0, 0, 0.2);
    background-image: url("../../images/oldpaperstate2.png");
    cursor: pointer;
}

.body{
    background-image: url("../../images/background.webp");
    height: 100vh;
    width: 100vw;
    z-index: -1;
    margin: 0;
    padding: 0;
    top: 0;
    position: absolute;
}

.Undermap {
    box-shadow: inset 0px 10px 20px black;
    padding-top: 10%;
    background-image: url("../../images/background.webp");
    height: 100%;
    overflow-y: auto;
    width: 100vw;
    display: block;
    position: absolute;
    background-color: white;
    z-index: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
}
.texto{

    margin-top: 5%;


}

.Capa {
    position: absolute;
    background-color: black;
    z-index: 5;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex: 1;
    opacity: 100%;
    transition: all 3s 1s ease-in;
}

.MainContainer {

    perspective: 1px;
    transform-style: preserve-3d;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.externo {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.titulo {
    width: 200 px;
    font-size: 5vw;
    font-family: 'Skyrim';
    margin-right: 25%;
    margin-left: 25%;
}

.titulo#whiterun {
    color: rgb(148, 148, 8);
}

.stop {
    position: absolute;
    width: 10vw;
    background-color: rgb(133, 133, 133);
    font-family: 'Skyrim';
    border-radius: 10%;
    text-align: center;
    top: 0;
    transition: all 1s ease;
    cursor: pointer;
}

.stop:hover {
    width: 11vw;
    top: 1vh;
    background-color: #ffffff;
}

.escudo {
    flex-direction: row;
    align-self: baseline;
}

.glow {
    font-size: 80px;
    font-family: 'Skyrim';
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;

}

.glow2 {
    font-size: 30px;
    font-family: 'Skyrim';
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;

}

.email {
    margin-top: 10px;
    margin-bottom: 70px;
}

.comentario input{
    width: 30vw;
    height: 10vh;
    box-sizing: border-box;
    background-image: url("../../images/oldpaperstate2.png");
    border: 2px solid #097828;
    border-radius: 16px;
    font-size: 4vh;
    text-align: center;
    transition: all 400ms ease;
    font-family: 'Skyrim';
    outline: 0;
    margin-top: 25px;
    margin-bottom: 10px;
}

.button button {
    box-sizing: border-box;
    width: 10vw;
    height: 5vh;
    background: #d1ba54d0;
    border: 3px solid #FFFFFF;
    border-radius: 30px;
    font-family: 'Skyrim';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    transition: all 400ms ease;

    color: #000000;

}

@keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #000000, 0 0 40px #000000, 0 0 50px #000000, 0 0 60px #000000, 0 0 70px #000000;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #000000, 0 0 40px #000000, 0 0 50px #000000, 0 0 60px #000000, 0 0 70px #000000, 0 0 80px #000000;
    }
}