@font-face {
    font-family: 'Skyrim';
    src: URL('../fonts/Planewalker.otf') format('opentype');
}

* {
    margin: 0;
    padding: 0;
}

.botao {
    width: 500px;
    height: 100px;
    background-color: red
}

.inputBusca {
    outline: none;
    background-color: black;
    color: white;
    border: 2px solid white;
    font-size: larger;
    font-weight: normal;
    font-family: Skyrim;
    padding: 3px 7px;
    width: 91%;
    height: 65%;
    margin: 2px 0 0 20px;
}

.trianguloD {
    position: absolute;
    top: 2px;
    left: 266px;
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
    border-left: 13px solid white;
    margin-top: 0px;
}

.containerTrianguloD {
    position: absolute;
}

.trianguloE {
    position: absolute;
    top: 2px;
    left: 266px;
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
    border-left: 13px solid white;
    margin-top: 0px;
}

.containerTrianguloE {
    position: absolute;
}

.containerInput {
    /* background-color: black;
    border: 2px solid rgb(201, 190, 190); */
    width: 250px;
    height: 40px;

}

