.Moldura{
    position: relative;
	background-image: url("../images/Background_Moldura.png");
    background-repeat: no-repeat;
    background-size:contain;
    height: 65vh;
    transform: rotate(1);
}

.CenterImg{
    position: absolute;
    top: 5%;
    left: 9%;
    height: 88%;
    width: 44%;
    /* transform: rotate(0.3deg); */
}
